<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715681207911-c93c89sjprif6cmh55vhdqt96mi70oh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715681207911-c93c89sjprif6cmh55vhdqt96mi70oh5</string>
	<key>API_KEY</key>
	<string>AIzaSyBdaqlvdzHkYiMlW6pWsR-lom-BFXC4OJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>715681207911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iqonic.granthFlutter</string>
	<key>PROJECT_ID</key>
	<string>granth-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>granth-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715681207911:ios:3b9d52c5fcd7efd33866c2</string>
	<key>DATABASE_URL</key>
	<string>https://granth-flutter.firebaseio.com</string>
</dict>
</plist>